ci:
  autoupdate_schedule: "quarterly"

default_language_version:
  python: "python3.13"

repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/sirosen/texthooks
    rev: 0.7.1
    hooks:
      - id: alphabetize-codeowners

  # Enforce Python 3.9+ idioms.
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade
        args: [--py39-plus]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.12.0
    hooks:
      - id: black

  - repo: https://github.com/PyCQA/isort
    rev: 7.0.0
    hooks:
      - id: isort

  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-bugbear==24.12.12

  - repo: https://github.com/sirosen/slyp
    rev: 0.8.2
    hooks:
      - id: slyp

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint
        additional_dependencies:
          - github.com/wasilibs/go-shellcheck/cmd/shellcheck@v0.11.1

  - repo: https://github.com/kurtmckee/pre-commit-hooks
    rev: v1.0.0
    hooks:
      - id: verify-consistent-pyproject-toml-python-requirements
