[tool.poetry]
name = "globus-action-provider-tools"
version = "0.10.0"
description = "Tools to help developers build services that implement the Action Provider specification."
authors = [
    "Jim Pruyne <pruyne@globus.org>",
    "Uriel Mandujano <uriel@globus.org>",
]
keywords = [
  "globus",
  "automation",
  "workflow",
  "action_provider"
  ]
classifiers = [
  "Development Status :: 4 - Beta",
  "Intended Audience :: Developers",
  "License :: Free To Use But Restricted",
  "Programming Language :: Python :: 3.6",
  "Programming Language :: Python :: 3.7",
  "Topic :: Internet :: WWW/HTTP",
  "Topic :: Software Development :: Libraries :: Application Frameworks",
  "Topic :: Software Development :: Libraries :: Python Modules"
  ]

readme = "README.rst"

[tool.poetry.scripts]
whattimeisit-provider = "examples.flask.whattimeisitrightnow.app.app:main"

[tool.poetry.dependencies]
python = "^3.6"
"dogpile.cache"="^0.7.1"
globus-sdk="^1.9"
jsonschema = "^3"
pyyaml = "^5.3.1"
arrow = "^0.15.5"
pybase62 = "^0.4.0"
dataclasses = {version = "^0.7", python = "~3.6"}

[tool.poetry.dev-dependencies]
python-language-server = "^0"
pyls-black = "^0"
pyls-isort = "^0"
pyls-mypy = "^0"
importmagic = "^0"
epc = "^0"
pytest = "^5"
werkzeug = "^1"
flask = "^1"
isodate = "^0.6.0"
pytest-xdist = "^1.32.0"
pytest-cov = "^2.8.1"
docutils = "^0.16"
rstcheck = "^3.3.1"
pygments = "^2.6.1"

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
line_length = 88
[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
