[tool.poetry]
name = "globus-action-provider-tools"
version = "0.12.0b1"
description = "Tools to help developers build services that implement the Action Provider specification."
authors = [
    "Kurt McKee <kurt@globus.org>",
    "Rudyard Richter <rudyard@globus.org>"
]
keywords = [
  "globus",
  "automation",
  "workflow",
  "action_provider"
]
classifiers = [
  "Development Status :: 4 - Beta",
  "Intended Audience :: Developers",
  "License :: Free To Use But Restricted",
  "Programming Language :: Python :: 3.6",
  "Programming Language :: Python :: 3.7",
  "Topic :: Internet :: WWW/HTTP",
  "Topic :: Software Development :: Libraries :: Application Frameworks",
  "Topic :: Software Development :: Libraries :: Python Modules"
]

readme = "README.rst"
license = "Apache-2.0"

[tool.poetry.scripts]
whattimeisit-provider = "examples.flask.whattimeisitrightnow.app.app:main"

[tool.poetry.dependencies]
python = "^3.6.2"
globus-sdk="^3.3.0"
jsonschema = "^3"
pyyaml = "^5.3.1"
pybase62 = "^0.4.0"
pydantic = "^1.7.3"
isodate = "^0.6.0"
flask = { version = "^1", optional = true }
cachetools = "^4.2.4"

[tool.poetry.extras]
flask = ["flask"]

[tool.poetry.dev-dependencies]
importmagic = "^0"
epc = "^0"
pytest = "^5"
werkzeug = "^1"
flask = "^1"
isodate = "^0.6.0"
pytest-cov = "^2.8.1"
docutils = "^0.16"
rstcheck = "^3.3.1"
pygments = "^2.6.1"
sphinx = "^3.2.1"
sphinx_material = "^0.0.30"
mypy = "^0.910"
black = "^21.9b0"
isort = "^5.9.3"
types-cachetools = "^4.2.4"
types-PyYAML = "^6.0.0"
types-requests = "^2.25.11"
scriv = {extras = ["toml"], version = "^0.12.0"}

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
line_length = 88

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.scriv]
categories = ["Features", "Bugfixes", "Documentation", "Deprecations"]
