certifi==2024.7.4 ; python_version >= "3.8"
charset-normalizer==3.3.2 ; python_version >= "3.8"
colorama==0.4.6 ; python_version >= "3.8" and sys_platform == "win32"
coverage==7.5.4 ; python_version >= "3.8"
exceptiongroup==1.2.1 ; python_version < "3.11" and python_version >= "3.8"
idna==3.7 ; python_version >= "3.8"
iniconfig==2.0.0 ; python_version >= "3.8"
packaging==24.1 ; python_version >= "3.8"
pluggy==1.5.0 ; python_version >= "3.8"
pytest==8.2.2 ; python_version >= "3.8"
pyyaml==6.0.1 ; python_version >= "3.8"
requests==2.32.3 ; python_version >= "3.8"
responses==0.25.3 ; python_version >= "3.8"
tomli==2.0.1 ; python_version < "3.11" and python_version >= "3.8"
urllib3==2.2.2 ; python_version >= "3.8"
