librt==0.7.7 ; python_version >= "3.9" and platform_python_implementation != "PyPy"
mypy-extensions==1.1.0 ; python_version >= "3.9"
mypy==1.19.1 ; python_version >= "3.9"
pathspec==1.0.3 ; python_version >= "3.9"
tomli==2.3.0 ; python_version >= "3.9" and python_version < "3.11"
types-cachetools==6.2.0.20251022 ; python_version >= "3.9"
types-pyyaml==6.0.12.20250915 ; python_version >= "3.9"
types-requests==2.32.4.20260107 ; python_version >= "3.9"
typing-extensions==4.15.0 ; python_version >= "3.9"
urllib3==2.6.3 ; python_version >= "3.9"
