ast-serialize==0.8.0 ; python_version >= "3.10"
librt==0.15.0 ; python_version >= "3.10" and platform_python_implementation != "PyPy"
mypy-extensions==1.1.0 ; python_version >= "3.10"
mypy==2.3.0 ; python_version >= "3.10"
pathspec==1.1.1 ; python_version >= "3.10"
tomli==2.4.1 ; python_version == "3.10"
types-cachetools==7.0.0.20260713 ; python_version >= "3.10"
types-pyyaml==6.0.12.20260724 ; python_version >= "3.10"
types-requests==2.33.0.20260712 ; python_version >= "3.10"
typing-extensions==4.16.0 ; python_version >= "3.10"
urllib3==2.7.0 ; python_version >= "3.10"
